h1 {
	font-size: 20px;
	font-weight: 200;

	padding: 15px 0;
}

h2 {
	font-size: 20px;
	font-weight: 200;

	margin-bottom: 15px;
}

footer h2 {
	font-weight: 800;
}

p {
  font-size: 14px;
}

hr {
	margin: 14px 0;

	border: none;

	background-image: linear-gradient(to right,
	rgba(255,255,255,0) 0,
	#dfdfdf 5%,
	#dfdfdf 95%,
	rgba(255,255,255,0) 100%);

	height: 1px;
	width: 100%;
}


main > section {
	margin: 5px 12px 0 12px;
	padding: 0 15px;

	border-radius: 12px;
	box-shadow: var(--sectionShadow);
}

main > section:nth-of-type(odd) {
  background-color: var(--mainSectionColor);
}


/**********/
/* MAIN */
/**********/

main img {
  width: 100%;
}



/**********/
/* ONDERDEEL 1  - VOORTEKST */
/**********/

main > section > p {
  font-size: 18px;
}

main > section > p:first-of-type {
	padding-bottom: 18px;
}





/**********/
/* ONDERDEEL 2  - OPENINGSTIJDEN */
/**********/

main section section {
	background-color: #ebf6fc;
	margin: 20px -15px;
	padding: 20px 15px;
}

.colorModeChange main section section {
	background-color: #253b56;
}


/**********/
/* ONDERDEEL 3  - ARTICLES */
/**********/

main > section a article {
	position: relative;
}

main > section a {
	text-decoration: none;
	color: var(--bodyTekst);
}

main > section a article h2 {
	font-size: 18px;
	font-weight: 700;
	margin: 15px 0;
}

main > section a article p {
	padding-bottom: 5px;
	padding-right: 3em;
}

main > section a article::after {
	content: url("../imagesPark/pijlIcon2.svg");
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

main > section a:hover article::after {
	content: url("../imagesPark/pijlIcon2Hover.svg");
}

/* .colorModeChange main > section a article::after {
	content: url("../images/pijlIcon2White.svg");
} */

main > section a:hover {
	color: #1994d7;
}





/**********/
/* ONDERDEEL 4  - MICKEY */
/**********/

#verderLezen button {
	border: none;
	background-color: transparent;
	color: #1994d7;
	font-family: var(--bodyFamily);
}




/**********/
/* ONDERDEEL 5  - SOCIALS DELEN */
/**********/

main > section nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

main > section nav ul li {
	margin-bottom: 14px;
}